header{
    padding: 10px 0;
    background-color: black;
}
.menuItem{
    color: white;
    transition: all ease-in-out 0.3s;
}
.menuItem:hover{
    text-decoration: underline;
}
.line{
    width: 3px;
    background-color: rgb(158, 157, 157);
    height: 40px;
}
.menu{
    display: flex;
    gap: 15px;
    align-items: center;
}
.headerBtn{
    display: flex;
    gap: 20px;
    align-items: center;
}
.header-content{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}